body{
margin:0;
padding:0;
font-family: 'Yatra One', cursive;
font-size:14px;
background-color: #E0D8DA;
color: #E0D8DA;
text-decoration: none;
}
header{
  background-color: #38040E;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  color: #E0D8De;
  text-align: center;
 position: static;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
.section_1{
  width: 10.5%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 1px solid black;
  color: black;
}
.section_2{
  width: 10.5%;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
}
.section_3{
  width: 10.5%;
  text-align: center;
  border-left: 1px solid black;
  border-right: 2px solid black;
  color: black;
}
.nav{
  display: flex;
  flex-direction: row;
}
.bouton{
  display: flex;
  flex-direction: row;
  list-style:none;
  width: 34%;
  justify-content: space-around;
}
#caché{
  color: #38040E;
}

#tel_logo{
  width: 40px;
  height: 40px;
}
.adresse{
  width: 33%;
	display: flex;
	flex-direction: row;
  justify-content: center;
}
#localisation_logo{
	width: 40px;
  height: 40px;
  padding: left : 50px;
}
.numeros{
  width: 33%;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hamburger{
  position: relative;
  overflow: hidden;
}
#logo_hamburger{
  width: 40px;
  height: 40px;
  background-color: #38040E;;
}

.viande{
  color: #38040E;
  border: solid 1px #38040E;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.prix{
width: 10%;
}
.plat{
width: 70%;
}
.prix > h3{
  color: #E0D8DA;
}

.plat>p{
  text-align: left;
}

.espace{
  width: 10%;
  color: #E0D8DA;
}
.Fruits{
  color: #38040E;
  border: solid 1px #38040E;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.prix > h2{
  color: #E0D8DA;
}
.Apéritifs{
  color: #38040E;
  border: solid 1px #38040E;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.vapeurs{
  color: #38040E;
  border: solid 1px #38040E;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
a:hover{
  color: red;
}
nav{
  display: flex;
  list-style: none;
  font-size: 40px;
  padding-bottom: 30px;
  margin-left: 350px;
  width: 450px;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: white;
}
footer{
  width: 100%;
  height: 150px;
  color: #E0D8DA;
  background-color: #38040E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
footer > h3{
  color: #E0D8DA;
}
.gauche{
  width: 33%;
  border-right: 1px solid #E0D8DA;
}
.centre{
  width: 33%;
  border-right: 1px solid #E0D8DA;
}
.droite{
  width: 34%;
}
.menu_responsive_hidden{
  overflow: hidden;
}

@media screen and (max-width: 1250px){

.bouton{
  visibility: hidden;
}
.numeros{
  visibility: hidden;
}
.adresse{
  visibility: hidden;
}
#localisation_logo{
  visibility: visible;
  margin-left: 120px;
  padding-bottom: 100px;
  position: relative;
  bottom: 45px;
}
#tel_logo{
  visibility: visible;
  position: relative;
  bottom: 45px;
}
.hamburger{
  overflow: visible;
}

.menu_responsive_visible{
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #38040E;
  color: #E0D8DA;
  justify-content: space-around;
  font-size: 45px;
  position: relative;
  bottom: 142px;
  padding-bottom: 500px;
  padding-top: 100px;
  border-top: 1px solid #E0D8DA;
  border: solid 1px #E0D8DA;
}
.menu_responsive_visible > h3{
  font-size: 45px;
  color: #E0D8DA;
}
}




}
